.root {
  display: inline-flex;
}

.showUp {
  animation-name: showUp;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  transition: width 4s ease-in;
  width: 0;
  opacity: 0;
}

.highlight {
  color: red; /* FIXME update this color */
  animation-name: removeHighlight;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

@keyframes showUp {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes removeHighlight {
  100% {
    color: inherit;
  }
}
