name: CI

on:
  pull_request:

permissions:
  contents: read

jobs:
  code_validation:
    strategy:
      fail-fast: false
      matrix:
        validation_script: ['lint', 'type-check', 'format:check']

    name: 'Code Validation: ${{ matrix.validation_script }}'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Run script
        run: pnpm run ${{ matrix.validation_script }}
